<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sugar</title>
    <link href="/public/dist/css/libs.css" rel="stylesheet"/>
    <link href="/public/dist/css/app.css" rel="stylesheet" />
    <script src="https://maps.googleapis.com/maps/api/js?key=&libraries=places"></script>
</head>
<body data-ng-controller="MainController">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a ui-sref="map" class="navbar-brand">Wifi Sugar</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="about">How it works</a></li>
                    <li><a ui-sref="share">Share my Hotspot</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a ui-sref="login" ng-hide="user.isAuthenticated()">Login</a>
                    </li>
                    <li ng-show="user.isAuthenticated()" class="dropdown" ng-cloak>
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            {{ user.username }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ui-sref="messages">My Messages</a></li>
                            <li><a ui-sref="settings">Settings</a></li>
                            <li><a ng-click="logout()">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="alert alert-warning" ng-show="notification" ng-cloak>{{ notification }}</div>

    <div data-ui-view=""></div>

    <script src="/public/dist/js/libs.js"></script>
    <script src="/public/dist/js/app.js"></script>

</body>
</html>
